
MagnetoCrab/Saved/Logs/MagnetoCrab_2.log
MagnetoCrab/Saved/Logs/MagnetoCrab.log
MagnetoCrab/Saved/Config/Windows/EditorPerProjectUserSettings.ini
MagnetoCrab/Saved/AutoScreenshot.png
MagnetoCrab/Intermediate/CachedAssetRegistry.bin
MagnetoCrab/Content/FirstPersonBP/Maps/FirstPersonExampleMap_BuiltData.uasset
MagnetoCrab/Content/FirstPersonBP/Maps/FirstPersonExampleMap.umap
MagnetoCrab/Saved/Config/Windows/EditorPerProjectUserSettings.ini
MagnetoCrab/Saved/Logs/MagnetoCrab.log
